body {
  background-color: black;
  overflow: none;
}
ul.navbar {
  list-style-type: none;
  margin: 0;
  z-index: 2;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
}
li.nav-item {
  float: left;
  cursor: pointer !important;
}
li.nav-item a {
  display: block;
  color: orange;
  transition: all 1s;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li.nav-item a:hover {
  background-color: #444;
}
#frame {
  border: 0px solid black;
  position: absolute;
  width: 100%;
  z-index: 1;
  height: 100%;
  bottom: 0px;
  left: 0px;
}
@keyframes flame-fall {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(200%);
    opacity: 0;
  }
}
.particles {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  pointer-events: none;
}
.flame {
  flex: 1;
  position: relative;
  animation: flame-fall 5s ease-in-out infinite;
  width: 4px;
  height: 10px;
  background-color: #ff4500;
